*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow:none ;
}
body{
    background-color: hsl(252, 24%, 4%);
    color: white;
    font-family: 'Mooli', sans-serif;
}
.container{
    height: auto;
    width: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    font-weight: bold;
    padding: 40px 80px;
    top:0px;
    position:fixed;
    transition: 0.8s;
    z-index:2000;
    backdrop-filter: blur(10px);
   
}
.active{
    box-shadow:0px 2px 4px hsl(0, 0%, 0%) ;
}
.navtext a {
    padding: 10px;
    color: white;
    transition: 0.8s;
    
}
.navtext a:hover{
    background :  linear-gradient(to right,#ff6f61,#ffda6e);
    background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       transition: 0.8s;
}
.connectwallet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 15px 40px;
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
}
.connectwallet a{
    color: white;
    
}
.anicraft{
 background :  linear-gradient(to right,#ff6f61,#ffda6e);
 text-transform: uppercase;
 background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}
.stroke{
    background :  linear-gradient(to right,#ff6f61,#ffda6e); 
    width: 50px;
    height: 3px;

}
.header{
    width: 150px;
    margin-left:  80px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body{
    width: 500px;
    margin-left:  80px;
    margin-top: 70px;
    
}
.textbody{
    
    font-weight: bold;
    font-size: 40px;
}
.wtiteup{
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

}
.best{
    padding-top: 15px;
    font-size: 17px;
  color:white;
  display: flex;
  align-items: center;
  gap: 5px;
}
.rocket{
    width: 24px;
    height:24px
}
.btn{
    width: 150px;
    height:45px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
   
}
.btn a {
    color:white;
    display: flex;
    align-items: center;
    gap: 5px;

  
}
.buttondiv{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* section2 */
.section2{
    height: auto;
    margin:20px 30px;
    padding-left:80px ;
    padding-top: 100px ;
}
.header2{
    width: 270px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.exploreheader{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.exp{
    font-size: 30px;
    font-weight: bold;
}
.expmore{
    color: lightblue;
    display: flex;
    align-items: center;
   gap:2px
}
.exploretab{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 5 equal-width columns */
    gap: 25px; /* Adds a 10px gap between columns */
    margin-top: 30px;

}
.containtab{
   padding: 25px;
    background-color: hsl(252, 11%, 9%);
    border-radius: 8px;
    box-shadow:  0 2px 2px  hsl(0, 0%, 0%);
    transition:transform .6s
} 
.containtab:hover{
    transform: translateY(-15px);
    transition: .8s cubic-bezier(0.33, 0.85, 0.56, 1.02);
    cursor: pointer;
}
.imgcard{
    width: 100%;;
    height:70%;
    border-radius: 8px;
}
.name{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
}
.floor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

/* section3 begins  */
.section3{
    height: auto;
    margin:20px 30px;
    padding-left:80px ;
    padding-top: 100px ;
}
.header3{
    width: 370px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.creatorstab{
    display: grid;
     grid-template-columns: repeat(3, 1fr);/* Creates 5 equal-width columns */
    gap: 25px; /* Adds a 10px gap between columns */
    margin-top: 30px;

}
.creatorscard{
    padding: 20px;

    background-color: hsl(252, 11%, 9%);
    border-radius: 8px;
    box-shadow:  0 2px 2px  hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    position: relative;
    gap:10px;
    width:auto;
}
.avatar{
    height:50px;
    width:50px;
    border-radius: 8px;
}
.addfriend{
    width: 24px;
    height:24px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.followers{
 font-weight: lighter;
 font-size: .8rem;
 color:lightblue;
 cursor: pointer;
}
.popular{
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

/* section4 */
.section4{
    height: auto;
    margin:20px 30px;
    padding-left:80px ;
    padding-top: 100px ;
}
.collectiontab{
    display: grid;
     grid-template-columns: repeat(3, 1fr);/* Creates 5 equal-width columns */
    gap: 25px; /* Adds a 10px gap between columns */
    margin-top: 30px;

}
.collectioncard{
    padding: 20px;

    background-color: hsl(252, 11%, 9%);
    border-radius: 8px;
    box-shadow:  0 2px 2px hsl(0, 0%, 0%); 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition:transform .6s
    
  
}
.collectioncard:hover{
    transform: translateY(-15px);
    transition: .8s cubic-bezier(0.33, 0.85, 0.56, 1.02);
    cursor: pointer;
}
.imgdiv{
    position: relative;
    width:auto;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.showcase{
    height:300px;
    width:300px;
    border-radius: 8px;
}
.showcaseabs{
 
  border-radius: 50%;
  margin-top: -50px;
  
}
.type{
    margin-top: 15px;
     font-size: 1.2rem;
    font-weight: bold;
    }
    .artcode{
        margin-top: 10px;
    }


    /* this is section5 */
    .section5{
        height: auto;
    margin:20px 30px;
    padding-left:80px ;
    padding-top: 100px ;
    }
  .createsell{
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* Creates 5 equal-width columns */
   gap: 25px; /* Adds a 10px gap between columns */
   margin-top: 30px;
  }
  .sell{
    padding:5px;

    width:250px;
    display: flex;
    flex-direction: column;
    gap:10px 
  }
  .setup{
    height:50px;
    width:50px
  }
  .sethea{
    font-size: 1.2rem;
    font-weight: bold;
   
  }
  .setbodi{
    color:hsl(0, 0%, 56%);
    font-size:16px;
  }

  /* this is section6 */
  .section6{
    height: auto;
padding-left:110px ;
padding-right: 20px;
padding-top: 120px ;
width: 100%;


background-color: hsl(252, 11%, 9%);
}
.footer{
display: grid;
grid-template-columns: repeat(4, 1fr);/* Creates 5 equal-width columns */
gap: 10px; /* Adds a 10px gap between columns */
margin-top: 30px;
}
.footercard1{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footercard1 a{
    color:white;
    transition:.6s
}
.footercard1 a:hover{
    color:skyblue;

    transition:.8s
}
.inputdiv{
    width:auto;
    position:relative;
   
    
}
input{
    height: 40px;
    width:300px;
    border-radius:10px;
    outline: none;
    padding:5px;
    width:100%
}
  

.submit{
  height:24px;
  width:24px;
  position:absolute;
  right:5px;
  bottom: 4px;
  
   
}
.copyright{
    margin-top:20px;
    border-top:2px solid white;
    color:white;
    padding:10px;
    width:100%;
    padding-bottom:20px;
    display:flex;
    align-items: center;
    justify-content:center;
}
.burgermenu{
    display:none;
}

/* media query for tablet */
@media(max-width:1025px){
    .burgermenu{
        display:block;
    }

    .navtext{
        display:none;
    }

 nav{
    padding:20px;
    width:90%
 }
 .connectwallet{
    padding:8px 15px
 }
 .mobilemenu{
    display:flex;
    align-items: center;
    gap:15px
 }
 .mobilewallet{
    display: none;
 }
 .header{
    margin-left:  20px;
    margin-top: 150px;
    width: 150px;
 }
 .body{
    margin-left:  20px;
     padding-right: 30px;
    width: 100%;
    margin-top: 50px;
 }
 .textbody{
    width: 250px;
    font-weight: bold;
    font-size: 30px;
}
.wtiteup{
    font-size: 13px; 
}
.best{
    font-size: 15px;
}
.section2,.section3,.section4,.section5{
 margin:20px;
 padding-left:0px ;
}
.exploretab,.creatorstab,.createsell,.footer{
    grid-template-columns: repeat(2, 1fr);
   
}
.collectiontab{
    grid-template-columns: repeat(1, 1fr);
}
.addfriend{
    width: 20px;
    height:20px;
}
.section6{
    padding:20px
}
}

/* mobile responsiveness */
@media(max-width:600px){
    .burgermenu{
        display:block;
        cursor: pointer;
    }
    .canclemenu{
        position: absolute;
        top:30px;
        right: 50px;
        display: none;
       
    }

    .navtext {
        /* display:none; */
      display: none;
       position: fixed;
       flex-direction: column;
       top: 0px;
       /* right:-100px; */
       padding-top:70px;
       height:300vh;
       width:100%;
       background-color:hsl(252, 24%, 4%); ;
       transition: 0.15s cubic-bezier(0.51, 0.03, 0.64, 0.28);;

  
    }
    .navtext a{
        padding:20px
    }

 nav{
    padding:20px;
    width:95%
 }
 .connectwallet{
    padding:8px 15px
 }
 .mobilemenu{
    display:flex;
    align-items: center;
    gap:15px
 }
 .mobilewallet{
    display: none;
 }
 .header{
    margin-left:  20px;
    margin-top: 150px;
    width: 150px;
 }
 .body{
    margin-left:  20px;
     padding-right: 30px;
    width: 100%;
    margin-top: 50px;
 }
 .textbody{
    width: 250px;
    font-weight: bold;
    font-size: 30px;
}
.wtiteup{
    font-size: 13px; 
}
.best{
    font-size: 15px;
}
.section2,.section3,.section4,.section5{
 margin:20px;
 padding-left:0px ;
}
.exploretab,.creatorstab,.collectiontab,.createsell,.footer{
    grid-template-columns: repeat(1, 1fr);
   
}
.addfriend{
    width: 20px;
    height:20px;
}
.section6{
    padding:20px
}
}






   
